<table border="0" width="1200" height="400">
  <tr>
  <th>
<h1><u>Sign In</u></h1>
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag %></p>
<% end %>
</th>
</tr>
</table>
