Welcome to Faculty Republic!

Our team is eager for you to start using the site, but we need you to confirm
your email address.  All you need to do is click the following link.  If you
would rather copy and paste it into your URL bar, that works, too!

<%= user_confirmation_link @token %>

Regards,

The Faculty Republic Team
