We all forget them sometimes.

Click the link below to change your password.  If you did not request this
change, please ignore this email.

<%= user_password_reset_link @token %>

Regards,

The Faculty Republic Team
