<%= form_for(@publication) do |f| %>
  <% if @publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
      <% @publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
      <%= f.label :article %><br>
      <%= f.file_field :article, multiple: true, name: "publication[article]" %>
  </div>
  <div class="field">
    <%= f.label :user_ids %><br>
    <%= f.collection_select :user_ids, User.order(:first), :id, :full_name, {}, {multiple: true, id: "author_select"}  %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$("#author_select").chosen({
  width: '250px',
  no_results_text: 'No authors found.'
});
</script>
