<div id="center_container">
<h1>Listing publications</h1>
<%= form_tag publications_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<table class = "pretty">
  <tr>
    <th><%= sortable "title"%></th>
    <th><%= sortable "users_ids.last","Authors"%></th>
    <th><%= sortable "year" %></th>
  </tr>
    <% for publication in @publications %>
    <tr>
        <td><%= publication.title %></td>
        <td><ul>
        <% publication.users.each do |user| %>
          <li><%=user.last %>, <%=user.first%></li>
        <%end%>
        </ul>
        </td>
	<td><%= publication.year %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Publication', new_publication_path, id: "new_publication_link", remote: true %>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
<script type="text/javascript">_minimize();</script>
</div>
