$("#new_publication_link").hide().after('<%= j render("form") %>');
$('#new_publication').fileUpload({
    add: function(e, data) {
        data.context = $(tmpl("template-upload", data.files[0]))
        $("#new_publication").append(data.context)
        data.submit();
    },

    progress: function(e, data) {
        if (data.context != null && data.context != undefined) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            data.context.find('.bar').css('width', progress + '%');
        }
    }
});
