<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @publication.title %>
</p>

Authors:
  <ul><% @publication.users.each do |author| %>
    <li><%= full_name author %></li>
  <% end %></ul>

<strong>Year:</strong>
  <%= @publication.year%>

<a href="<%= @publication.article %>">Download</a> |
<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>

<div id="disqus_thread" style="width: 800px;"></div>
<script type="text/javascript">
var disqus_identifier = '<%= (@publication.title + "-" + @publication.created_at.to_s) %>';
var disqus_shortname = 'facultyrepublic'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
