<h1>Sign Up</h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
     <div class= "error_messages">
       <h2>Form is invalid</h2>
       <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%=message%></li>
          <% end %>
       </ul>
      </div>
<% end %>

  <div class = "field">
    <%= f.label :first %> <br />
    <%= f.text_field :first %>
  </div>
  <div class = "field">
    <%= f.label :last %> <br />
    <%= f.text_field :last %>
  </div>
  <div class = "field">
   <%= f.label :email %> <br />
   <%= f.text_field :email %>
  </div>
  <div class = "field">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </div>
  <div class = "field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
   </div>
  <div class="actions"><%= f.submit%></div>
<% end %>
