<h1>Forgot Password</h1>

<%= form_for @user, url: users_reset_path(params[:token]) do |f| %>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<p class="button"><%= f.submit %></p>
<% end %>
