<h1>Password Recovery</h1>

<%= form_for @user, url: users_reauth_submit_path do |f| %>
<div class = "field">
  <%= f.label :password %> <br />
  <%= f.password_field :password %>
</div>
<div class = "field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %>
</div>
  <%= f.hidden_field :token, value: @user.forgot_password_token %>
<p class="button"><%= f.submit %></p>
<% end %>
