<table>
  <tr>
    <th width="350px">
      <%= image_tag avatar_url(@user) %>
      <h2><%= full_name @user %></h2>
      <%= mailto_link @user %>
    </th>
    <td style="vertical-align:top;">
      <h4>Publications</h4>
      <ul>
        <% if @user.publications.count < 1 %>
          <li><i>You haven't written anything yet.</i></li>
        <% else %>
          <% @user.publications.each do |publication| %>
            <% pretty_publication_with_link publication %>
          <% end %>
        <% end %>
    </td>
  </tr>
</table>
