<div id="content">
  <%= image_tag "rotatingImagenew.png", id: "rotateImage" %>
</div>

<div id="micro-center-content">
    <table cellpadding="0" cellspacing="0"border="0" height="150px" width="1270px">
      <tr>
        <th> </th>
        <th><%= image_tag "LetsGetStarted.jpg", id: "start-button", alt: "LetsGetStarted" %></th>
        <th> </th>
      </tr>
      <tr>
        <th></th>
        <th><p>Registration is Easy and Free for Teachers, Students, and Institutions.</p></th>
        <th></th>
      </tr>
</table>
<table cellpadding="5" cellspacing="0"border="0" height="400px" width="1270px">
      <tr>
        <th>
        <%= image_tag "books.svg", id: "icon-research" %>
      <h2>Research</h2>
      <span class="micro-center-footer-content">
        Find credible articles and share your knowledge with the world.
      </span>
  </th>
  <th>
        <%= image_tag "users.svg", id: "icon-collaborate" %>
      <h2>Collaborate</h2>
      <span class="micro-center-footer-content">
        Share your finds with friends and take notice of potential breakthroughs. Work together
        to discover hidden depths.
      </span>
  </th>
  <th>
      <%= image_tag "tools.svg", id: "icon-build" %>
      <h2>Build</h2>
      <span class="micro-center-footer-content">
        With new knowledge aquired from other faculty publications, imagine what you can build!
      </span>
  </th>
  </tr>
</table>
</div>
