input[type=text] {
    width: 200px;
    height: 25px;
    font-size: 22px;
}

input[type=password] {
    width: 200px;
    height: 25px;
    font-size: 22px;
}

input[type=submit] {
    background-color: #37b9ec;
    font-size: 14px;
    cursor: pointer;
    width: 200px;
    height: 35px;
    text-align: center;
    padding: 3px 5px 2px 5px;
    font-family: 'Cabin';
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 3px 1px #1a90b3;
    -moz-box-shadow: 0px 3px 1px #1a90b3;
    -webkit-box-shadow: 0px 3px 1px #1a90b3;
    -ms-box-shadow: 0px 3px 1px #1a90b3;
    -o-box-shadow: 0px 3px 1px #1a90b3;
}

input[type=submit]:hover {
    background-color: #90e0f9;
    text-align: center;
    font-family: 'Cabin';
    color: white;
}
