// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #4E4E4E;
    height: 55px;
    width: 1275px;
    color: #FFFFFFF;
    padding: 15px 10px 10px 15px;
    border-color: #4E4E4E;
}

#center-container {
    margin: 0 auto;
}

#logo {
    position: fixed;
    top: 15px;
    left: 20px;
    width: 130px;
    height: 130px;
}

#box {
    padding-top: 90px;
}

#slogan {
    position: fixed;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #f0f0f0;
    top: 55px;
    left: 160px;
}

#searchBar {
    position: fixed;
    top: 24px;
    left: 1070px;
    height: 32px;
    width: 32px;
}

h2 {
    font-family: 'PT Serif', Arial, sans-serif;
    font-weight: 700;
    font-size: 28px;
}

#user_nav {
    position: fixed;
    color: #FFF;
    padding-bottom: 18px;
}
#user_nav:link {
    color: #FFF;
}
#user_nav:visited {
    color: #FFF;
}

.minibutton {
    background-color: #37b9ec;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Cabin';
    color: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0px 3px 1px #1a90b3;
    -moz-box-shadow: 0px 3px 1px #1a90b3;
    -webkit-box-shadow: 0px 3px 1px #1a90b3;
    -ms-box-shadow: 0px 3px 1px #1a90b3;
    -o-box-shadow: 0px 3px 1px #1a90b3;
}

.minibutton:hover {
    background-color: #90e0f9;
    text-align: center;
    padding: 10px 5px;
    font-family: 'Cabin';
    color: white;
}

#login {
    width: 64px;
    height: 15px;
    position: fixed;
    top: 22px;
    left: 1010px;
}

#register {
    width: 64px;
    height: 15px;
    position: fixed;
    top: 22px;
    left: 1100px;
}

#logout {
  width: 64px;
  height: 15px;
  position: fixed;
  top: 22px;
  left: 1110px;
}
