body {font-family:'PT Serif', Arial;
      font-weight: 400;
      background-color: #FFFFFF;
      font-size: 14px;
      width: 100%;
      height: 100%;
}

#content {  background-color: #FFFFFF;
            color: #000000;
            }

#footer {font-size:70%;
         text-align: center;
         height: 250px;
         padding: 10px;
	 	 background-color: #FFFFFF;
	 	 clear: both;
         border-color: #FFFFFF;
}

table, th, td {
    /*border-collapse: separate;*/
    font-size: 16px;
}

li {
  font-size: 16px;
}
