<!DOCTYPE html>
<html>
<head>
  <title>FacultyRepublic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Cabin|PT+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="header">
      <div id="logo" data-expanded="false"><img alt="Logo" id="logo" src="/assets/logo_hover.svg" style="width: 50px; height: 50px;"></div>
      <!-- <%= image_tag "logo.svg", id: "logo" %> -->
      <div id="slogan" style="display: none;">In available notitia radix</div>
    <!-- <table style="width:100%; padding-left:23cm;">
      <th></th> -->
      <div id = "user_nav">
        <%= image_tag "searchBar.png", id: "searchBar", alt: "searchBar" %>
          <p>
  </p>
        <a href="/logout"><div id="logout" class="minibutton">Logout</div></a>
      </div>

    <!--  <th></th>
    </table> -->
  </div>

  <div id = "container"><div id="box">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>

          <%= yield %>
  </div>
</div>
</body>
</html>
