<!DOCTYPE html>
<html>
<head>
    <title>FacultyRepublic</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Cabin|PT+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body data-no-turbolink>
    <div id="header">
        <div id="logo" data-expanded="true"><img alt="Logo" id="logo" src="/assets/logo.svg" style="width: 130px; height: 130px;"></div>
        <!-- <%= image_tag "logo.svg", id: "logo" %> -->
        <div id="slogan">In available notitia radix</div>
        <!-- <table style="width:100%; padding-left:23cm;">
        <th></th> -->
        <!--  <th></th> -->
        <div id = "user_nav">
            <a href="/login"><div id="login" class="minibutton">Login</div></a>
            <a href="/users/new"><div id="register" class="minibutton">Sign Up</div></a>
        </div>
    <!--    <%= link_to "Sign Up", new_user_path%> or
        <%= link_to "Log In", new_session_path %>-->
    </div>
    </table> -->
</div>

<div id = "container">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>

</div>
</body>
</html>
